

    <header class="header">
        <div class="container">
            <nav class="navbar">
                <div class="logo">
                    <a href="{% url 'home' %}">My Blog</a>
                </div>
                <ul class="nav-links">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'blog:post_list' %}">Posts</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'account:profile' %}">Profile</a></li>
                        <li><a href="{% url 'account:logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'account:login' %}">Login</a></li>
                        <li><a href="{% url 'account:register' %}">Register</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>